
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;800&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,300;1,500;1,700&family=Mulish:wght@200;300;400;500;800;900&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
:root{
    --font-primary: "Ballo Da 2", serif;
    --font-secundary: "Josefin Slab", serif;
    --font-action: "Mulish", serif;
}

.hamburguer{
    width: 2.4rem;
    height: 2.4rem;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;

}
.show-menu .hamburguer{
    right: 15rem;
    transition: all 0.5s;
}
.line{
    width: 100%;
    background-color: #fff;
    height: 0.1rem;
    box-shadow: 0.1rem 0.1rem 1px #000;
    transition: transform 0.8s;
}
.show-menu #line1{
    transform: rotate(45deg) translate( .3rem, .45rem);
}
.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}
.show-menu #line3{
    transform: rotate(-45deg) translate( .3rem, -.45rem);
}
.hamburguer span{
    position: absolute;
    left: 3rem;
    display: flex;
    width: 6rem;
    height: 1.2rem;
    padding: 0.4rem;
    justify-content: center;
    align-content: center;
    color: #fff;
    background-color: #00f;
    font-family: var(--font-action);
    opacity: 0;
}
.hamburguer span::before{
    content: "";
    position: absolute;
    border-right: 0.9rem solid #00f;
    border-top: 0.6rem solid transparent;
    border-left: 0.3rem solid transparent;
    border-bottom: 0.8rem solid transparent;
    left: -1.0rem;
}
.show-menu .hamburguer:hover span{
    opacity: 1;
}
header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 05, 05, 0.8);
}
.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 25s;
}
@keyframes zoom{
    0%{
        transform: scale(1.4);
    }
    100%{
        transform: scale(1) ;
    }
}
.banner{
    position: absolute;
    top: 30%;
    left: 15%;
}
.banner h1{
    color: #fff;
    font-size: 3.2rem;
    font-family: var(--font-primary);
    font-weight: 400;
    text-shadow: .2rem  .2rem 2px rgba(0, 5, 5, 0.4);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.1s forwards;
}
.banner p{
    font-family: var(--font-secundary);
    color: #fff;
    font-size: 2rem;
    text-shadow: 0.2rem .2rem rgba(0, 5, 5, 0.4);
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.6s forwards;
}
.banner button{
    font-family: var(--font-action);
    color: #fff;
    font-size: 1.0rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    background: #00f;
    background: -webkit-linear-gradient(to right, #00a, #02f);
    background: linear-gradient(to right, #00a, #02f);
    padding: 1rem 3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    animation: moveBanner 1s 1.3s forwards;
}

.banner button:hover{
    opacity: 0.8;
    color: #000;

}
@keyframes moveBanner{
    0%{
        transform: translateY(10rem) rotateY(-30deg);
    }
    100% {
        transform: translateY(0) ;
        opacity: 1;
    }
}

.sidebar{
    width: 20rem;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 0.5s;

}
.show-menu .sidebar{
    right: 0;
}
.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.menu-item{
    text-align: center;
    margin-bottom: 0.6rem;
}
.menu-link{
    font-family: var(--font-action);
    font-size: 2rem;
    color: #52f;
    transition: color 0.2s;
}
.menu-link:hover{
    color:  #99f;
}
.social-media{
    position: absolute;
    bottom: 2.0rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.social-media i{
    background-color: #00f;
    color: #fff;
    height: 1.8rem;
    width: 1.8rem;
    padding: 0.7rem;
    font-size: 1.8rem;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 0.2s;
}
.social-media i:hover{
    background-color: #99f;

}